@model IEnumerable<QuanLyBanMyPham.Models.Product>

@{
    ViewBag.Title = "Danh Sách Sản Phẩm";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<h1 style="color: #FF1493">Danh Sách Sản Phẩm</h1>

<a asp-controller="Product" asp-action="Create" class="btn btn-primary">
 Thêm Sản Phẩm
</a>
<div class="nav-categories">
    <ul class="nav nav-pills">
        @foreach (var category in ViewBag.Categories)
        {
            <li id="@category.CategoryId" class="nav-item" style="display: inline; margin-right: 10px;">
                <a class="nav-link" href="#">@category.CategoryName</a>
            </li>
        }
    </ul>
</div>

@* @await Component.InvokeAsync("Product") *@

<div id="content">
<table class="table">
    <thead>
        <tr>
            <th>Tên Sản Phẩm</th>
            <th>Giá</th>
            <th>Số Lượng</th>
            <th>Danh Mục</th>
            <th>Nhà Cung Cấp</th>
            <th>Chức Năng</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ProductName</td>
                <td>@product.Price</td>
                <td>@product.Quantity</td>
                <td>@product.Category.CategoryName</td>
                <td>@product.Supplier.SupplierName</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@product.ProductId" class="btn btn-sm btn-success">
                        <i class="fas fa-edit"></i> Chỉnh sửa
                    </a>
                    <a asp-action="Delete" asp-route-id="@product.ProductId" class="btn btn-sm btn-danger">
                        <i class="fas fa-trash-alt"></i> Xóa
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
</table>
</div>
</div>
@section Scripts {
    <script>
        $("li").click(function (e) { 

            var categoryId = $(this).attr("id");
            $.ajax({
                url: "ProductByCategoryId", 
                data: { categoryId: id },
                success: function (response) {
                    $("div#content").html(response); 
                }
            });
        });
    </script>
}

