@model QuanLyBanMyPham.Models.Order

@{
    ViewBag.Title = "Chi Tiết Hóa Đơn";
    Layout = "~/Views/Shared/EmployeeLayout.cshtml";
}
<h1 style="color: #FF1493">Chi Tiết Hóa Đơn</h1>
<div>

    <hr />
    <dl class="row">


        <dt class="col-sm-2">Khách Hàng</dt>
        <dd class="col-sm-10">@Model.User?.Username</dd>

        <dt class="col-sm-2">Ngày Xuất Hóa Đơn</dt>
        <dd class="col-sm-10">@Model.OrderDate</dd>



        <dt class="col-sm-2">Trạng Thái</dt>
        <dd class="col-sm-10">@Model.Status</dd>
    </dl>

    <h4>Chi Tiết Hóa Đơn</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Sản Phẩm</th>
                <th>Số Lượng</th>
                <th>Tổng Giá</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var detail in Model.OrderDetails)
            {
                <tr>
                    <td>@detail.Product?.ProductName</td>
                    <td>@detail.Quantity</td>
                    <td>@detail.Price</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-action="IndexEmployee" class="btn btn-primary">Trở Về</a>
</div>
