@model IEnumerable<Order>
@{
    ViewBag.Title = "Danh Sách Hóa Đơn";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Khách hàng</th>
            <th>Ngày xuất hóa đơn</th>
            <th>Trạng thái</th>
            <th>Chức Năng</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr id="order-@order.OrderId">
                <td>@order.User.Username</td>
                <td>@order.OrderDate</td>
                <td class="order-status">@order.Status</td>
                <td>
                    <a asp-action="Detail" asp-route-id="@order.OrderId" class="btn btn-sm btn-success">
                        <i class="fas fa-info-circle"></i> Chi Tiết
                    </a>
                    <a asp-action="Delete" asp-route-id="@order.OrderId" class="btn btn-sm btn-danger">
                        <i class="fas fa-trash-alt"></i> Xóa
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>